body {
  background: #0b0f0c;
  color: #d4ffd4;
  font-family: Arial;
  margin: 0;
}

h1 {
  text-align: center;
  color: #00ff88;
}

#auth, #app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: #111;
  border: 1px solid #00ff88;
  color: white;
  border-radius: 5px;
}

button {
  background: #00ff88;
  border: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.task {
  background: #111;
  margin: 5px 0;
  padding: 10px;
  border-left: 4px solid #00ff88;
  display: flex;
  justify-content: space-between;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}